 <footer class="site-footer">
     <div>
        <img src="/assets/blog/rockgalspalaeo-logo.png" alt="RockGalsPalaeo Logo" class="logo" >
  <p>© {% year %}  J.J. Cooling Consulting. All rights reserved.</p>
</footer>