   <header class="page-header">
  <div class="container">
    <div class="page-header__content">
         <div>
        <img src="/assets/blog/PalaeoGals.png" alt="Palaeo Gals Logo" class="header-logo" >
    </div>
      
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/blog/">Contact</a>
          </li>
        </ul>
        
      </nav>
    </div>
  </div>
</header>