<li>
      <article class="snippet">
        <img src="{{ profile.data.photo}}" alt="{{ profile.data.imageAlt}}" class="snippet__image">
        <h3 class="snippet__title"><a href="{{ profile.url }}">  {{ post.data.title }}</a></h3>
        <p class="snippet__meta">by <span>{{ profile.data.profilename}} </span> on <span>{{ profile.data.date | postDate}}</span></p>
        <p class="snippet__body">{{ profile.data.description}}</p> 
        <a href="{{ profile.url }}" class="btn btn--primary">Profile Details</a>
      </article>
  </li>